/cfg.py
/balance.txt
/concurs.txt
/history.txt
/links.txt
/main1.py
/nain.py
/xui.py
/main_s_podpisiy.py
/main_bez_podpisi.py
/users.txt
/bin
/obj
/project.depend
__pycache__/
*.pyc
*.db
*.sqlite
*.mp4
data/